.blog-heading {
	font-family: 'Playfair Display', serif;
	font-size: 8em;
	text-decoration: underline;
}

.blog-heading a {
	color: #303030;
}

.post-title{
	font-family: 'Playfair Display', serif;
	/*font-weight: bold;*/
	margin: 40px 0  20px 0 ;
	display: block;
}

.post-body{
	font-family: 'Lato', sans-serif;	
	font-size: 1.15em;
	letter-spacing: 0.0625em;
}
.main-menu {
	position: absolute;
	top: 33%;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 2em;
	height: 100px;
	/*margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
}

.main-menu a {
	color: #303030;
}

